
html, body, #map-canvas { 
	overflow:0;
	height: 100%; 
	margin: 0; 
	padding: 0;
}

#menu{
	background-color: white;
}

.tooltip {
    z-index: 2000;
}

#articleEditModal{
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
}

.file-caption-name{
	color:grey;
}

#datepicker{
	z-index: 2000;
}