
html, body, #map-canvas { 
	overflow:0;
	height: 100%; 
	margin: 0; 
	padding: 0;
}

#menu{
	background-color: white;
}

#memoirPhoto {
	background-color:#D4D8D1;
}

#memoirPhoto a{
	color:grey;
}

#memoirPhoto a:hover{
	color:white;
}

.tooltip {
    z-index: 2000;
}
