
html, body, #map-canvas { 
	overflow:0;
	height: 100%; 
	margin: 0; 
	padding: 0;
}

#menu{
/*	background-color: white;*/
	background-color: rgba(71, 71, 71, 0.7);
}

#filterNav{
	display:none;
}

.tooltip {
    z-index: 2000;
}

#articleEditModal{
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
}

.file-caption-name{
	color:grey;
}

.modal-content {
	background-color: rgba(184, 184, 184, 0.7);
}

a {
	/*color: #428bca;*/
	color: #3399FF;
	text-decoration: none;
	font-size: 14px;
}

#memoirContent,#photoDescription,#propertyDescription{	
	min-width:540px;
	max-width:540px;
	resize:none;
	word-wrap: break-word;
    overflow-wrap: break-word;
}

#amount{
	background-color:rgba(184, 184, 184, 0);
	color: #3399FF;
	height:50px;
	width: 100px;
	display: none;
}

#slider-range {
	width:300px;
	vertical-align:middle;
	display: none;
	}
	
#sliderBlock{
	vertical-align:middle;
	padding-top:19px;
	height:50px;
}

.ui-widget-header{
	background: #70b7ff;
}

.notLink{
	vertical-align:middle;
	height:50px;
}

#eventDate{
	z-index: 2000;
	}

.tooltip {
    z-index: 2000;
}