#forum-add-btn{

    padding: 0px;
    height: 24px;
    margin: 12px;
      
}

#forum-search-text{

    padding: 4px;
    
    margin: 7px;
    margin-left: 5px
}

#forum-search{ 
    
    margin: 7px;
    margin-left: 14px;
    
}

#forum-texts ,#forum-btns{
 margin: 10px;

}


