
html, body, #map-canvas { 
	overflow:0;
	height: 100%; 
	margin: 0; 
	padding: 0;
}

.tooltip {
    z-index: 9999;
}

.modal-body, .modal-footer{
    padding: 20px;
}

#photo-container{
    padding: 20px;
    margin: auto;
}

.secret-input{
    display:none;
}

.photo-container{
    width:100%;
    height: auto;
}

.comment-preview{
    margin-top:10px;
    margin-bottom:10px;
    max-height: 200px;
    overflow-y: scroll;
}

#comment-list li{
    text-align: left;
}
